.hero-wrapper {
	position: relative;
	width: 100%;
	min-height: calc(100vh - #{$size__site-header});
	/*background-image: url(assets/hero1.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;*/
	@include center-flex-mixin;

	@include tablet {
		background-size: cover;
	}

	/*@include desktop {
		background-position: left center;
		align-items: flex-end;
	}*/
}

.hero {
	position: absolute;
	top: 50%;
}

.hero-img {
	position: relative;
	top: 0;
	z-index: -1;
	display: block;
	margin: 0 auto;
	width: 100%;
	opacity: 0.8;
	filter: saturate(20%);
}

body.admin-bar .hero-wrapper {
	min-height: calc(100vh - #{$size__site-header} - #{$size__admin-bar-small});

	@include tablet {
		min-height: calc(100vh - #{$size__site-header} - #{$size__admin-bar-large});
	}
}

.hero-title {
	font-family: $font__special;
	font-size: 3.5rem;
	text-align: center;
	margin-top: 0;
	margin-bottom: 1.8rem;
	font-weight: 700;
	color: $color__ms-background-1;
	text-shadow: -2px -2px 4px $color__ms-accent-2;
	display: inline-block;
	background-color: transparentize($color__ms-background-2, 0.9);
	padding: 0.4rem;
	border-bottom: solid 6px $color__ms-accent-1;
	@include center-flex-mixin;

	@include tablet {
		flex-direction: row;
	}

	@include desktop {
		font-size: 3.2rem;	
	}
}

.hero-cta {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.75rem;
}

.hero-cta a,
a.scroll-down {
	@include bare-button;
	min-width: 150px;
	padding: 0.6rem;
	color: $color__ms-background-1;
	font-size: 1rem;
	text-align: center;
	font-weight: 700;
	border: 2px solid transparentize($color__ms-primary, 0.8);
	background-color: transparentize($color__ms-primary, 0.2);
	border-radius: 5px;
	text-transform: uppercase;
	@include center-flex-mixin;

	.icon {
		height: 32px;
	}

	&:hover,
	&:active {
		border-color: $color__ms-accent-1;
		background-color: lighten($color__ms-primary, 5%);
	}

	&:focus {
		outline: 1px solid $color__ms-accent-1;
	}

	@include tablet {
		font-size: 1.2rem;
	}
}

.abs-bottom {
	position: absolute;
	bottom: 30px;
}

.scroll-down-wrapper {
	@include center-flex-mixin;
}

.scroll-down,
a.scroll-down {
	min-width: unset;
	padding: 4px;
	border-radius: 50%;

	.icon {
		height: 64px;
		width: 64px;

		@include tablet {
			height: 80px;
			width: 80px;
		}
	}
}

.main-section {
	width: 100%;
	max-width: $size__tablet;
	text-align: center;
}

.sticky {
	display: block;
}

/*.post,
.page {
	margin: 0 0 1.5em;
}*/

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-header {
	border-bottom: 1px solid $color__ms-accent-2;
}

.post-header {
	display: grid;
	padding: 0.3rem 0 1rem 0;
	row-gap: 0.6rem;
	column-gap: 1.2rem;

	.entry-meta {
		font-size: 1.2rem;
		font-weight: 700;

		display: flex;
		flex-direction: column;
		align-self: center;
		
		/*@include tablet {
			display: flex;
			flex-direction: column;
			align-self: center;
		}*/
	}

	@include tablet {
		grid-template-columns: 1fr auto; 
		padding: 0.3rem 0rem;
	}
}

// If no meta, make it a big single column:
@include tablet {
	.no-meta {
		border: none;
	}
	
	.no-meta .post-header,
	.post-card.featured header {
		grid-template-columns: 1fr;
	}
}

.has-post-thumbnail {
	
	.entry-header {
		position: relative;
		border-bottom: 6px double $color__ms-accent-2;
		min-height: 220px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;

		@include tablet {
			min-height: 175px;
		}
	}

	.post-header {
		position: absolute;
		top: 0;
		width: 100%;
		padding: 0.8rem;
		background-color: transparentize($color__ms-background-1, 0.3);

		.entry-title {
			background-color: transparent;
		}
	}

}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.info-card {
	@include info-card;
}

.entry-footer {
	border-top: 1px solid $color__ms-accent-2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.page-title {
	font-size: 2rem;

	@include tablet {
		font-size: 2.7rem;
	}
}

.post-edit-link,
.nav-previous a,
.nav-next a {
	@include dark-button;
	display: inline-block;
	height: 100%;
}

.more-link {
	display: inline-block;
	text-align: center;
	margin-bottom: 1rem;
	@include dark-button;
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.8rem;

	& > * {
		margin-left: 0.12rem;
		margin-right: 0.12rem;
	}

	span {
		@include bare-button;
	}

	a {
		@include dark-button;
	}
}

.post-thumbnail img {
	margin: 0 auto;
}