.hero-wrapper {
	width: 100%;
	min-height: calc(100vh - #{$size__site-header});
	background-image: url(assets/logo-picture.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	@include center-flex-mixin;

	@include tablet {
		background-size: 600px;
	}

	@include desktop {
		background-position: left center;
		align-items: flex-end;
	}
}

body.admin-bar .hero-wrapper {
	min-height: calc(100vh - #{$size__site-header} - #{$size__admin-bar-small});

	@include tablet {
		min-height: calc(100vh - #{$size__site-header} - #{$size__admin-bar-large});
	}
}

.hero-title {
	font-family: $font__special;
	font-size: 3.5rem;
	text-align: center;
	margin-top: 0;
	margin-bottom: 1.8rem;
	font-weight: 700;
	color: $color__ms-background-1;
	text-shadow: -2px -2px 4px $color__ms-accent-2;
	display: inline-block;
	background-color: transparentize($color__ms-background-2, 0.9);
	padding: 0.4rem;
	border-bottom: solid 6px $color__ms-accent-1;
	@include center-flex-mixin;

	@include tablet {
		flex-direction: row;
	}

	@include desktop {
		font-size: 3.2rem;	
	}
}

.hero-cta {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 0.75rem;
}

.hero-cta a {
	@include bare-button;
	min-width: 150px;
	padding: 0.6rem;
	color: $color__ms-background-1;
	font-size: 1.12rem;
	text-align: center;
	font-weight: 700;
	border: 2px solid $color__ms-accent-2;
	background-color: transparentize($color__ms-primary, 0.2);
	border-radius: 5px;
	text-transform: uppercase;
	@include center-flex-mixin;

	&:hover,
	&:active {
		border-color: $color__ms-accent-1;
		background-color: lighten($color__ms-primary, 5%);
	}

	&:focus {
		outline: 1px solid $color__ms-accent-1;
	}
}

.main-section {
	width: 100%;
	max-width: $size__tablet;
	text-align: center;
}

/*.hero-img {
	position: absolute;
	top: 0;
	z-index: -1;
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
}*/

.sticky {
	display: block;
}

/*.post,
.page {
	margin: 0 0 1.5em;
}*/

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.info-card {
	@include info-card;
}

.entry-footer {
	border-top: 1px solid $color__ms-accent-2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.page-title {
	font-size: 2.5rem;

	@include tablet {
		font-size: 2.85rem;
	}
}

.post-edit-link {
	@include dark-button;
}

.more-link {
	display: inline-block;
	text-align: center;
	margin-bottom: 1rem;
	@include dark-button;
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.8rem;

	& > * {
		margin-left: 0.12rem;
		margin-right: 0.12rem;
	}

	span {
		@include bare-button;
	}

	a {
		@include dark-button;
	}
}