.hero-wrapper {
	position: relative;
	width: 100%;
	min-height: calc(100vh - #{$size__site-header});
	background-image: url(assets/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

/*.hero-img {
	position: absolute;
	top: 0;
	z-index: -1;
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
}*/

.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
