h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

.editor-post-title__block,
.editor-post-title__input,
.entry-title {
	font-family: $font__main;
	display: inline-block;
	padding-bottom: 1rem;
	border-bottom: 4px solid $color__ms-accent-1;
	text-align: center;
}

