h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

//.editor-post-title__block,
.editor-post-title__input,
.entry-title {
	font-family: $font__special;
	font-size: 2.2rem;
	display: inline-block;
	padding: 0.2rem 0.4rem 1rem 0.4rem;
	border-bottom: 4px solid $color__ms-accent-1;
	text-align: center;
	color: darken($color__ms-title-2, 10%);
	background-color: transparentize($color__ms-background-2, 0.9);

	@include tablet {
		font-size: 3rem;
	}
}

.editor-post-title__input {
	text-align: left;
}

.entry-title a {
	text-decoration: none;
}
