h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1 {
	margin-top: 1rem;
}

//.editor-post-title__block,
.editor-post-title__input,
.entry-title {
	@include main-title;
}

.editor-post-title__input {
	text-align: left;
}

.entry-title a,
.post-card-title a {
	text-decoration: none;
}
