// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin container-sized {
	width: 100%;
	max-width: $size__container-max;
	margin: 0 auto;
}

@mixin bare-button {
	text-decoration: none;
	padding: 0.5rem;
	display: block;
	border: 1px solid transparent;
	cursor: pointer;
	transition: all 0.7s;
	font-size: 1.1rem;
}

@mixin nav-button {
	@include bare-button;
	color: $color__ms-background-2;
	background-color: transparentize($color__ms-title-1, 0.8);
	
	&:hover,
	&:active {
		border: 1px solid $color__ms-accent-2;
		background-color: transparentize($color__ms-title-1, 0.6);
	}

	&:focus {
		outline: 1px solid $color__ms-accent-1;
	}
}

@mixin dark-button {
	@include bare-button;
	color: $color__ms-background-2;
	background-color: $color__ms-primary;

	&:hover,
	&:active {
		border: 1px solid $color__ms-accent-2;
		background-color: lighten($color__ms-primary, 5%);
	}

	&:focus {
		outline: 1px solid $color__ms-accent-1;
	}
}

@mixin center-flex-mixin {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@mixin icon-and-text {
	display: flex;
	align-items: center;
	
	& > img,
	& > svg {
		margin-right: 0.4rem;
	}
}

@mixin main-title {
	margin-top: 1rem;
	line-height: 1.6;
	font-family: $font__special;
	font-size: 2.4rem;
	display: inline-block;
	padding: 0.2rem 0.4rem 1rem 0;
	border-bottom: 4px solid $color__ms-accent-1;
	text-align: center;
	color: darken($color__ms-title-2, 10%);
	background-color: transparentize($color__ms-background-2, 0.9);

	@include tablet {
		font-size: 3rem;
	}
}

@mixin info-card($font-size: 1.5rem, $padding: 2rem, $margin-bottom: 2rem) {
	background-color: transparentize($color__ms-primary, 0.9);
	color: $color__ms-title-1;
	font-size: $font-size;
	text-align: center;
	padding: $padding;
	margin-bottom: $margin-bottom;
}

@mixin rounded-card {
	background-color: $color__ms-background-2;
  color: $color__ms-primary;
  margin-bottom: 2rem;
  border-radius: 20px;
  padding: 0.35rem 1rem;
  box-shadow: $shadow__card;
}

/*
Mixins for media queries
*/
@mixin tablet {
	@media (min-width: #{$size__tablet}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$size__desktop}) {
		@content;
	}
}

@mixin tablet-and-smaller  {
	@media (max-width: #{$size__desktop}) {
		@content;
	}
}