// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin container-sized {
	width: 100%;
	max-width: $size__container-max;
	margin: 0 auto;
}

@mixin nav-button {
	color: $color__ms-background-2;
	text-decoration: none;
	font-size: 1.1rem;
	display: block;
	padding: 0.5rem;
	background-color: transparentize($color__ms-title-1, 0.8);
	border: 1px solid transparent;
	cursor: pointer;
	transition: all 0.7s;

	&:hover,
	&:active {
		border: 1px solid $color__ms-accent-2;
		background-color: transparentize($color__ms-title-1, 0.6);
	}

	&:focus {
		outline: 1px solid $color__ms-accent-1;
	}
}

/*
Mixins for media queries
*/
@mixin tablet {
	@media (min-width: #{$size__tablet}) {
			@content;
	}
}

@mixin desktop {
	@media (min-width: #{$size__desktop}) {
			@content;
	}
}