button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
	display: inline-block;
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	/*color: rgba(0, 0, 0, 0.8);*/
	color: $color__ms-background-2;
	//line-height: 1;
	padding: 0.6em 1em 0.4em;
	cursor: pointer;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

a.btn {
	color: $color__ms-background-1;
	text-decoration: none;
}
