input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__ms-primary;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 5px;
	background-color: $color__ms-background-2;

	&:focus {
		outline: 1px solid $color__ms-accent-1;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

.comment-form {
	margin-bottom: 2rem;

	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"] {
		width: 100%;
	}

	@include tablet {
		padding: 1rem;
		background-color: transparentize($color__ms-primary, 0.7);
	}

}

.search-field {
	height: 100%;
}