/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

figure {
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}

.wp-block-audio {
	@include tablet {
		width: 50%;
		margin: 0 auto;
	}
}

.wp-block[data-align="left"] .wp-block-audio {
	margin-right: 2rem;
}

.wp-block[data-align="right"] .wp-block-audio {
	margin-left: 2rem;
}