.site {
  display: grid;
  min-height: 100vh;
	grid-template-columns: auto;
	grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.site-header,
.site-main,
.site-footer,
.widget-area {
	padding: 0.5rem;
}

.site-header {
	grid-area: header;
	box-shadow: $shadow__bottom;
	background-color: $color__ms-primary;
	background: linear-gradient(90deg, $color__ms-primary 20%, transparentize($color__ms-primary, 0.1) 100%);
	display: flex;
	align-items: center;
	height: $size__site-header;

	@include tablet {
		background: linear-gradient(90deg, $color__ms-primary 0%, lighten($color__ms-primary, 10%) 80%, $color__ms-primary 100%);
	}

}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: $size__container-max;
	margin: 0 auto;
}

.site-branding > img,
.site-branding > svg {
	display: block;
	height: 120px;
}

.site-branding > svg {
	fill: $color__ms-background-1;
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
	@include container-sized;
}

/*.widget-area {
	grid-area: sidebar;
}*/

.widget-area {

	@include desktop {
		display: grid;
		grid-template-columns: 1fr auto;
	}

}

.site-footer {
	grid-area: footer;
	background-color: $color__ms-primary;
	color: $color__ms-background-2;
	border-top: 4px solid $color__ms-accent-1;
}