.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.site-footer {

	.widget-title {
		color: $color__ms-title-1;
		margin: 0 0 0.5rem;
	}

	.widget {
		margin: 0;
	}

}

.search-form {
	display: flex;
}