$color__background-body: $color__ms-background-1;
$color__background-screen: $color__ms-background-2;
$color__background-hr: $color__ms-accent-1;
$color__background-button: $color__ms-title-1;
$color__background-pre: $color__ms-grayed;
$color__background-ins: $color__ms-accent-1;

$color__text-screen: $color__ms-primary;
$color__text-input: $color__ms-grayed;
$color__text-input-focus: $color__ms-primary;
$color__link: $color__ms-accent-2;
$color__link-visited: $color__ms-accent-2;
$color__link-hover: lighten($color__ms-accent-2, 10);
$color__text-main: $color__ms-primary;

/*$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;*/

$color__border-button: $color__ms-accent-1;
$color__border-button-hover: $color__ms-accent-2;
$color__border-button-focus: $color__ms-accent-2;
$color__border-input: $color__ms-background-2;
$color__border-abbr: $color__ms-grayed;