/* Copilot */
/*$color__ms-primary: #112f41;
$color__ms-accent-1: rgba(255, 200, 0, 0.8);
$color__ms-accent-2: rgba(17, 47, 85, 0.8);
$color__ms-title-1: #068587;
*/

/* https://colorhunt.co/palette/1d5b79468b97ef6262f3aa60 */
/*$color__ms-primary: #112f41;
$color__ms-accent-1: #F3AA60;
$color__ms-accent-2: #EF6262;
$color__ms-title-1: #468B97;/*

/* https://colorhunt.co/palette/003c43135d6677b0aae3fef7 */
$color__ms-primary: #112f41;
$color__ms-accent-1: #E3FEF7;
$color__ms-accent-2: #135D66;
$color__ms-title-1: #068587;

$color__ms-title-2: $color__ms-accent-2;
$color__ms-background-1: #fff;
$color__ms-background-2: #e9f6f3;
$color__ms-grayed: #778582;
$color__ms-grayed-light: transparentize($color__ms-background-1, 0.6);
