$color__ms-primary: #112f41;
$color__ms-accent-1: #f2b134;
$color__ms-accent-2: #ed553b;
$color__ms-title-1: #068587;
$color__ms-title-2: $color__ms-accent-2;
$color__ms-background-1: #fff;
$color__ms-background-2: #e9f6f3;
$color__ms-grayed: #778582;
$color__ms-grayed-light: transparentize($color__ms-background-1, 0.6);
